<!-- <!DOCTYPE html>
<html>
  <head>
    <title>OnlineBookLibrary</title>
    < %= csrf_meta_tags % >

    < %= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    < %= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    < %= yield %>
  </body>
</html>
 -->
<!DOCTYPE html>
<html>
<head>
  <title>OnlineBookLibrary</title> <!-- Uses the title helper on application_helper.rb -->
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="top_rounded">
      	<% flash.each do |key, value| %>
	    	<div class="flash <%= key %>"><%= value %></div>
	    <% end %>
        <%= yield %>
      </section>
       <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
